# Python cache & environment
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Dataset
data/
*.csv
*.xlsx

# Model files (optional)
*.pkl
*.joblib

# System files
.DS_Store
Thumbs.db
